PRIVATE_KEY=0xyour_private_key
BASE_RPC_URL=
BASE_SEPOLIA_RPC_URL=
ETH_RPC_URL=
THORNODE_URL=https://thornode.ninerealms.com
MIDGARD_URL=https://midgard.ninerealms.com
SOURCE_CHAIN=ETH
SOURCE_ASSET=ETH.USDC
DEST_ASSET=BTC.BTC
DEST_BTC_ADDRESS=bc1qexampledestination
SOURCE_TOKEN_ADDRESS=0x833589fCD6EDB6E08f4c7C32D4f71b54bdA02913
AMOUNT_IN_TOKEN_UNITS=1.0
AFFILIATE_BPS=0
AFFILIATE=
STREAMING_INTERVAL=1
STREAMING_QUANTITY=0
